# Configuration file

####################
# block
####################

block {
    I:Storage=1115
    ####################
    # feature
    ####################

    feature {
        I:Storage.Crystal.Damage.Amount=2
        B:Storage.Crystal.Damage.Charge=true
        B:Storage.Crystal.Damage.Enable=true
        I:Storage.Electrum.Damage.Amount=1
        B:Storage.Electrum.Damage.Charge=true
        B:Storage.Electrum.Damage.Enable=true
    }

}


####################
# general
####################

general {
    S:Version=1.0.0.b0c
}


####################
# item
####################

item {
    I:Material=20400
    I:Tool.Flux.Axe=20406
    I:Tool.Flux.BattleWrench=20402
    I:Tool.Flux.Pickaxe=20405
    I:Tool.Flux.Shovel=20404
    I:Tool.Flux.Sickle=20407
    I:Tool.Flux.Sword=20403
    I:Tool.Flux.Wrench=20401
    ####################
    # feature
    ####################

    feature {
        B:Tool.Flux.Axe=true
        B:Tool.Flux.BattleWrench=true
        B:Tool.Flux.Pickaxe=true
        B:Tool.Flux.Shovel=true
        B:Tool.Flux.Sickle=true
        B:Tool.Flux.Sword=true
        B:Tool.Flux.Wrench=true
    }

}


